node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.vscode
.idea
*.log
dist
.DS_Store
*.tmp
*.temp
.cache
.parcel-cache
.next
.nuxt
.out
.serverless
.netlify
.vercel
tests/coverage
tests/results
*.test.js
*.spec.js
.github
